<header class="{{ viewMenu ? 'visible' : '' }}">
  <div class="content_title">
    <h1 class="content_title__title">
      TALLER SPRINT BOOT
    </h1>
    <div class="content_title__mobile">
      <button name="menu" aria-label="Menu" mat-icon-button class="content_title__mobile__menu" (click)="viewMenu = !viewMenu">
        <mat-icon class="icon" *ngIf="!viewMenu">menu</mat-icon>
        <mat-icon class="icon" *ngIf="viewMenu">close</mat-icon>
      </button>
    </div>
  </div>
  <nav id="menu" class="menu_mobile {{ viewMenu ? '' : 'no_visible' }}">
    <ul>
      <li>
        <a [routerLink]="['teacher']" routerLinkActive="router-link-active">Profesor</a>
      </li>
      <li>
        <a [routerLink]="['courses']" routerLinkActive="router-link-active">Cursos</a>
      </li>
      <li>
        <a [routerLink]="['/']" routerLinkActive="router-link-active">Examen</a>
      </li>
      <li>
        <div class="toggle">
          <button mat-icon-button>
            <mat-icon class="icon_login">account_circle</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </nav>
</header>
<div class="header"></div>
