<div class="teacher">
  <p class="teacher__title">
    Profesores
  </p>
  <div class="teacher__content">
    <div class="teacher__content__table">
      <div class="table">
        <div class="table__create">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="viewModal = !viewModal"><mat-icon>add</mat-icon></button>
        </div>
        <app-table-custom></app-table-custom>
      </div>
    </div>
  </div>
</div>

<app-modals-custom *ngIf="viewModal" (view)="closeModal($event)">
  <div class="formulary" content>
    <div class="formulary__title">
      Crear Profesor
    </div>
    <form class="formulary__content" [formGroup]="formGroup">
      <mat-form-field>
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="name" (keyup)="createUserName()">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastname" (keyup)="createUserName()">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Num. Identificación</mat-label>
          <input matInput formControlName="identification" (keyup)="createPassword()">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Movil</mat-label>
          <input matInput formControlName="mobile">
      </mat-form-field>
      <mat-form-field class="formulary__content__email">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="user">
      </mat-form-field>
      <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" >
      </mat-form-field>
    </form>
    <div class="formulary__action">
      <button mat-button (click)="saveTeacher()" [disabled]="formGroup.invalid">Guardar</button>
    </div>
  </div>
</app-modals-custom>
