<div class="courses">
  <div class="courses__content">
    <div
      class="courses__content__course"
      *ngFor="let course of courses"

    >
      <div class="img">
        <img
          src="./../../../../../../../assets/images/spring-boot.png"
          alt="Spring Boot"
        />
      </div>
      <div class="content">
        <div class="actions">
          <button mat-icon-button (click)="viewModal = true">
            <mat-icon> edit </mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon> delete </mat-icon>
          </button>
        </div>
        <p class="title">{{ course.name }}</p>
        <p class="description">{{ course.description }}</p>
        <p class="teacher" *ngIf="course.teacher">
          {{ course.teacher.name }} {{ course.teacher.lastname }}
        </p>
      </div>
    </div>
  </div>
</div>
<app-modals-custom *ngIf="viewModal" (view)="closeModal($event)">
  <div class="formulary" content>
    <form class="formulary__content">
      <mat-form-field>
        <mat-label>Titulo</mat-label>
        <input matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Descripción</mat-label>
        <textarea name="" id="" cols="30" rows="10" matInput></textarea>
      </mat-form-field>
    </form>
  </div>
</app-modals-custom>
