<div class="template">
  <div class="template__container">
      <div class="template__container__tittle">
          <div class="content_img">
              <div class="content_img__img">
                  <img src="https://bitsdrupal.bitsamericas.co/sites/default/files/cards/Logowhite.png" alt="">
              </div>
              <h2 class="content_img__subtitle">
                  Taller practica
              </h2>
          </div>
      </div>
      <div class="template__container__form">
          <ng-content select="[content]"></ng-content>
      </div>
  </div>
</div>
